Makefile
.qmake.cache
.qmake.super
*.pro.user*
CMakeLists.txt.user*
CMakeUserPresets.json
.vscode
build
build-*
.DS_Store
/RepoLock.MRepoState
/qtbase
/External.MRepoState
/qtdeclarative
/qtrepotools
/qttranslations
/qtdoc
/qtqa
/qtquickcontrols2
/qttools
/qtsvg
/qtactiveqt
/qtquickcontrols
/qtmultimedia
/qtimageformats
/qtgraphicaleffects
/qtconnectivity
/qtserialport
/qtwebchannel
/qtwebsockets
/qtwebengine
/qtlocation
/qtmacextras
/qtscxml
/qtandroidextras
/qt5compat
/qtshadertools
/qlitehtml
