Makefile
.qmake.cache
.qmake.super
*.pro.user*
/RepoLock.MRepoState
/qtbase
/External.MRepoState
/qtdeclarative
/qtrepotools
/qttranslations
/qtdoc
/qtqa
/qtquickcontrols2
/qttools
/qtsvg
/qtactiveqt
/qtquickcontrols
/qtmultimedia
/qtimageformats
/qtgraphicaleffects
/qtconnectivity
/qtserialport
/qtwebchannel
/qtwebsockets
/qtwebengine
/qtlocation
/qtmacextras
/qtscxml
/qtandroidextras
