[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 6.9.1
	status = essential
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = ../qtsvg.git
	branch = 6.9.1
	status = addon
[submodule "qtdeclarative"]
	depends = qtbase
	recommends = qtimageformats qtshadertools qtsvg qtlanguageserver
	path = qtdeclarative
	url = ../qtdeclarative.git
	branch = 6.9.1
	status = essential
[submodule "qtactiveqt"]
	depends = qtbase
	path = qtactiveqt
	url = ../qtactiveqt.git
	branch = 6.9.1
	status = addon
[submodule "qttools"]
	depends = qtbase
	recommends = qtdeclarative qtactiveqt
	path = qttools
	url = ../qttools.git
	branch = 6.9.1
	status = essential
[submodule "qtxmlpatterns"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtxmlpatterns
	url = ../qtxmlpatterns.git
	branch = dev
	status = ignore
[submodule "qtsystems"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsystems
	url = ../qtsystems.git
	branch = dev
	status = ignore
[submodule "qtfeedback"]
	depends = qtdeclarative
	recommends = qtmultimedia
	path = qtfeedback
	url = ../qtfeedback.git
	branch = master
	status = ignore
[submodule "qtpim"]
	depends = qtdeclarative
	path = qtpim
	url = ../qtpim.git
	branch = dev
	status = ignore
[submodule "qtimageformats"]
	depends = qtbase
	path = qtimageformats
	url = ../qtimageformats.git
	branch = 6.9.1
	status = addon
[submodule "qtcanvas3d"]
	depends = qtdeclarative
	path = qtcanvas3d
	url = ../qtcanvas3d.git
	branch = dev
	status = ignore
[submodule "qtgamepad"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtgamepad
	url = ../qtgamepad.git
	branch = dev
	status = ignore
[submodule "qtscxml"]
	depends = qtbase qtdeclarative
	path = qtscxml
	url = ../qtscxml.git
	branch = 6.9.1
	status = addon
[submodule "qtwebglplugin"]
	depends = qtbase qtwebsockets
	recommends = qtdeclarative
	path = qtwebglplugin
	url = ../qtwebglplugin.git
	branch = dev
	status = ignore
[submodule "qtshadertools"]
	depends = qtbase
	path = qtshadertools
	url = ../qtshadertools.git
	branch = 6.9.1
	status = addon
[submodule "qt5compat"]
	depends = qtbase qtdeclarative
	path = qt5compat
	url = ../qt5compat.git
	branch = 6.9.1
	status = deprecated
[submodule "qtgraphs"]
	depends = qtbase qtdeclarative qtquick3d
	path = qtgraphs
	url = ../qtgraphs.git
	branch = 6.9.1
	status = addon
